* {
    padding: 0;
    margin: 0;
}
.border{
    border: 3px solid rgb(89, 161, 189);
    border-radius: 5px;
}


.section-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    .chat-inner{
        height: 500px;
        width: 400px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
        .inputs{
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
            .input-text{
                width: 210px;
                height: 40px;
                outline:none;
            }
                .btn{
                    background-color: rgb(89, 161, 189);
                    height: 46px;
                    border-radius: 5px;
                }
                    .btn:hover {
                        box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
                        transform: scale(1.05);
                      }
                    .btn:active {
                        transform: translateY(4px);
                    }
        .chat-masseges{
            width: 374px;
            height: 420px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }
            .messages{
                padding: 10px;
            }